body {
  margin: 0;
  background: #686D72;
  color: #D8E4FF;
  font-family: 'Open Sans Condensed', sans-serif;
}

img {
  display: block;
  width: 100%;
  margin: auto;
}

main {
  max-width: 1080px;
  margin: auto;
}

footer{
  padding-top: 40px;
  text-align: center;
}

#header h2 {
  background: #2F3338;
  border-radius: 15px;
  margin: 0;
}

.caption {
  background: #2F3338;
  border-radius: 25px;
  text-align: center;
}

.caption h3 {
  margin: 0;
}

.caption a {
  text-decoration: none;
  color: #D8E4FF;
}

#gallery {
  text-align: center;
  vertical-align: center;
}

#displayText {
  text-align: center;
}

.landingText h1 {
  text-align: center;
  margin-left: 5px;
}

.landingText h5 {
  text-align: center;
  margin-left: 5px;
}

.button {
  padding: 20px;
  border: 1px #D8E4FF solid;
  display: inline-block;
  margin: 12px;
  border-radius: 50px;
  text-decoration: none;
  color: #D8E4FF;
}

.gridBox {
  display: inline-grid;
  grid-template-columns: auto auto;

}

.photoGalleries {
  display: inline-grid;
  grid-template-columns: auto;
  text-align: center;
}

.landing {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: right;
  background: url('http://alexdeise.com/imgs/westendoverlook.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo {
  border: 1px solid #D8E4FF;
  margin: 5px;
  align-self: center;
}

.headerTitle {
  float: left;
  margin-top: 8px;
  margin-left: 2px;
}
.headerTitle a{
  text-decoration: none;
  color: #D8E4FF;
}
.headerTitle span {
  font-size: 45%;
}

.navbarUl {
  float: right;
}
.navbarUl li{
  list-style-type: none;
  display: inline-block;

}
.navbarUl li a{
  color: #D8E4FF;
  text-decoration: none;
  padding: 5px;
  padding-top: 0px;

}

/* Media time */
@media (min-width: 500px) {
  #landingPage {
    display: flex;
    height: 100%;
  }

}

@media (min-width: 600px) {
  .landing {
    min-height: 300px;
  }
}
